<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @hr_config_marital.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @hr_config_marital.title %>
</p>

<p>
  <strong>Khtitle:</strong>
  <%= @hr_config_marital.khtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hr_config_marital.description %>
</p>

<p>
  <strong>Khdescription:</strong>
  <%= @hr_config_marital.khdescription %>
</p>

<p>
  <strong>Usercreate:</strong>
  <%= @hr_config_marital.usercreate %>
</p>

<p>
  <strong>Userupdate:</strong>
  <%= @hr_config_marital.userupdate %>
</p>

<%= link_to 'Edit', edit_hr_config_marital_path(@hr_config_marital) %> |
<%= link_to 'Back', hr_config_maritals_path %>
