<h1>Listing hr_config_initials</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Khtitle</th>
      <th>Description</th>
      <th>Khdescription</th>
      <th>Usercreate</th>
      <th>Userupdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hr_config_initials.each do |hr_config_initial| %>
      <tr>
        <td><%= hr_config_initial.code %></td>
        <td><%= hr_config_initial.title %></td>
        <td><%= hr_config_initial.khtitle %></td>
        <td><%= hr_config_initial.description %></td>
        <td><%= hr_config_initial.khdescription %></td>
        <td><%= hr_config_initial.usercreate %></td>
        <td><%= hr_config_initial.userupdate %></td>
        <td><%= link_to 'Show', hr_config_initial %></td>
        <td><%= link_to 'Edit', edit_hr_config_initial_path(hr_config_initial) %></td>
        <td><%= link_to 'Destroy', hr_config_initial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Initial', new_hr_config_initial_path %>
