<h1>Listing hr_config_blood_types</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Khtitle</th>
      <th>Description</th>
      <th>Khdescription</th>
      <th>Usercreate</th>
      <th>Userupdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hr_config_blood_types.each do |hr_config_blood_type| %>
      <tr>
        <td><%= hr_config_blood_type.code %></td>
        <td><%= hr_config_blood_type.title %></td>
        <td><%= hr_config_blood_type.khtitle %></td>
        <td><%= hr_config_blood_type.description %></td>
        <td><%= hr_config_blood_type.khdescription %></td>
        <td><%= hr_config_blood_type.usercreate %></td>
        <td><%= hr_config_blood_type.userupdate %></td>
        <td><%= link_to 'Show', hr_config_blood_type %></td>
        <td><%= link_to 'Edit', edit_hr_config_blood_type_path(hr_config_blood_type) %></td>
        <td><%= link_to 'Destroy', hr_config_blood_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blood type', new_hr_config_blood_type_path %>
