<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @hr_config_blood_type.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @hr_config_blood_type.title %>
</p>

<p>
  <strong>Khtitle:</strong>
  <%= @hr_config_blood_type.khtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hr_config_blood_type.description %>
</p>

<p>
  <strong>Khdescription:</strong>
  <%= @hr_config_blood_type.khdescription %>
</p>

<p>
  <strong>Usercreate:</strong>
  <%= @hr_config_blood_type.usercreate %>
</p>

<p>
  <strong>Userupdate:</strong>
  <%= @hr_config_blood_type.userupdate %>
</p>

<%= link_to 'Edit', edit_hr_config_blood_type_path(@hr_config_blood_type) %> |
<%= link_to 'Back', hr_config_blood_types_path %>
