<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @hr_config_religion.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @hr_config_religion.title %>
</p>

<p>
  <strong>Khtitle:</strong>
  <%= @hr_config_religion.khtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hr_config_religion.description %>
</p>

<p>
  <strong>Khdescription:</strong>
  <%= @hr_config_religion.khdescription %>
</p>

<p>
  <strong>Usercreate:</strong>
  <%= @hr_config_religion.usercreate %>
</p>

<p>
  <strong>Userupdate:</strong>
  <%= @hr_config_religion.userupdate %>
</p>

<%= link_to 'Edit', edit_hr_config_religion_path(@hr_config_religion) %> |
<%= link_to 'Back', hr_config_religions_path %>
