<%= form_for(@hr_function_employee) do |f| %>
  <% if @hr_function_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hr_function_employee.errors.count, "error") %> prohibited this hr_function_employee from being saved:</h2>

      <ul>
      <% @hr_function_employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :khfirstname %><br>
    <%= f.text_field :khfirstname %>
  </div>
  <div class="field">
    <%= f.label :khlastname %><br>
    <%= f.text_field :khlastname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
