<h1>Listing hr_function_employees</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Khfirstname</th>
      <th>Khlastname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hr_function_employees.each do |hr_function_employee| %>
      <tr>
        <td><%= hr_function_employee.code %></td>
        <td><%= hr_function_employee.firstname %></td>
        <td><%= hr_function_employee.lastname %></td>
        <td><%= hr_function_employee.khfirstname %></td>
        <td><%= hr_function_employee.khlastname %></td>
        <td><%= link_to 'Show', hr_function_employee %></td>
        <td><%= link_to 'Edit', edit_hr_function_employee_path(hr_function_employee) %></td>
        <td><%= link_to 'Destroy', hr_function_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_hr_function_employee_path %>
