<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.1
Version: 3.6
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8">
<title>នាយកដ្ឋានអាមេរិក | ប្រពន្ធ័គ្រប់គ្រងផ្ទៃក្នុង</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="Kimsay">
<!-- BEGIN LINK TO MASTER CSS PIPELINE -->
<%= stylesheet_link_tag('application', :media => 'all') %>
  <% if params[:controller] == "hr/function/employees" %>
    <%= stylesheet_link_tag('custom/profile', :media => 'all')%>
  <%end%>
<!-- END LINK TO MASTER CSS PIPELINE -->
<link rel="shortcut icon" href="favicon.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body class="page-header-menu-fixed">
<!-- BEGIN HEADER -->
<div class="page-header">
	<!-- BEGIN HEADER TOP -->
  <%=	 render :partial => 'layouts/top_menu' %>
	<!-- END HEADER TOP -->
	<!-- BEGIN HEADER MENU -->
    <%=	 render :partial => 'layouts/navigation' %>
	<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
<div class="page-container">
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
	<div class="container">
		<!-- BEGIN PAGE TITLE -->
		<div class="page-title">
			<h1><%= @title %> <small><%= @subtitle %></small></h1>
		</div>
		<!-- END PAGE TITLE -->
	</div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row">
				<div class="col-md-12">
					 <%= yield %>
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 footer-block">
				<h2>អំពីកម្មវិធី</h2>
				<p>
					 កម្មវិធីនេះអភិវឌ្ឍន៍ក្នុងគោលបំណងសំរាប់ប្រើប្រាស់ក្នុងនាយកដ្ឋានអាមេរិក និងមិនដាក់អោយប្រើប្រាស់ជាសាធាណៈនោះទេ។ កម្មវិធីនេះប្រើប្រាស់សំរាប់គ្រប់គ្រងទិន្នន័យប្រចាំនាយកដ្ឋានអាមេរិក និងមន្ត្រី
					 ប្រចាំនាយកដ្ឋានអាមេរិក ដោយផ្ទាល់ភាពងាយស្រួលដល់ថ្នាក់គ្រប់គ្រងសំរាប់ការត្រួតពិនិត្យ ពត៌មានផ្សេងៗ ប្រកាស ស្វែងរកអាស្រ័យដ្ឋានក្រុមហ៊ុន និង សំរួលដល់ការត្រួតពិនិត្យសកម្មភាពការងាររបស់មន្ត្រី
					 នាយកដ្ឋាន។
				</p>
			</div>
		</div>
	</div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="container">
		 ២០១៥ &copy; នាយកដ្ឋានអាមេរិក. រក្សាសិទ្ធគ្រប់យ៉ាង.
	</div>
</div>
<div class="scroll-to-top">
	<i class="fa fa-arrow-circle-up"></i>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
<%= javascript_include_tag("application", "data-turbolinks-track" => true) %>
<% if params[:controller] == "hr/function/employees" %>
    <%= javascript_include_tag("custom/profile", "data-turbolinks-track" => true) %>
    <script>
        jQuery(document).ready(function() {
            // initiate layout and plugins
            ComponentsPickers.init();
        });
    </script>
<%end%>
<script>
jQuery(document).ready(function() {    
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   Demo.init(); // init demo(theme settings page)
   Index.init(); // init index page
   Tasks.initDashboardWidget(); // init tash dashboard widget
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>